<%- layout('profiles') %>
<br>
<div class="container">	
	<div class="d-flex justify-content-center h-100">		
		<div class="singCard">			
			<h3>Registra un nuevo empleado</h3>
			<div class="card-body">
				<form method="POST" action="/authentication/crearEmpleado">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-building"></i></i></span>							
						</div>
						<input type="text" class="form-control" name="nombre" placeholder="Nombre" required>						
					</div> 
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input type="email" class="form-control" name="correo" placeholder="Correo" required>						
					</div>				
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Contraseña" onkeyup="check();" required>
					</div>	
							
					<div class="input-group form-group">
						<input type="submit" value="Registrar empleado" class="btn btn-success">
					</div>
				</form>
			</div>
			<div class="cardL-header">
				<% if (createEmpleado!="") {
					%>
					<div >					
						<div class="red">					  
						  <p class="card-text"><%= createEmpleado%></p>
						</div>
					  </div>
					<% } %>				
			</div>
		</div>
	</div>
</div>

