<%- layout('profiles') %>

<h1>Registrar uso extraordinario de botiquines</h1>

<div class="container">
    <form action="/botiquin/registrarExt" method="post">
        <div class="form-group">
            <label id="botiquin"> <span>Botiquin</span> </label>
            <select name="botiquin" id="botiquin" class="form-control">
                <% botiquines.forEach(botiquin => { %>
                <option value="<%= botiquin._id %>"><%= botiquin.nombre %> </option>
                <% }); %>
            </select>
        </div>

        <div class="form-group">
            <label id="gasas">
                <span>Gasas: </span>
            </label>
            <input class="form-control" min="0" type="number" name="gasas">
        </div>
        <div class="form-group">
            <label id="esparadrapo4Metros">
                <span>Esparadrapo 4 metros:</span>
            </label>
            <input class="form-control" min="0" type="number" name="esparadrapo4Metros">
        </div>
        <div class="form-group">
            <label id="bajaLenguas">
                <span>Baja lenguas:</span>
            </label>
            <input class="form-control" min="0" type="number" name="bajaLenguas">
        </div>
        <div class="form-group">
            <label id="guantesLatex">
                <span>Guantes de latex:</span>
            </label>
            <input class="form-control" min="0" type="number" name="guantesLatex">
        </div>
        <div class="form-group">
            <label id="vendaEl2x5">
                <span>Venda elástica 2 x 5:</span>
            </label>
            <input class="form-control" min type="number" name="vendaEl2x5">
        </div>
        <div class="form-group">
            <label id="vendaEl3x5">
                <span>Venda elástica 3 x 5 yardas:</span>
            </label>
            <input class="form-control" min="0" type="number" name="vendaEl3x5">
        </div>
        <div class="form-group">
            <label id="vendaEl5x5">
                <span>Venda elástica 5 x 5 yardas:</span>
            </label>
            <input class="form-control" min="0" type="number" name="vendaEl5x5">
        </div>
        <div class="form-group">
            <label id="vendaAl3x5">
                <span>Venda algodon 3 x 5 yardas:</span>
            </label>
            <input class="form-control" min="0" type="number" name="vendaAl3x5">
        </div>
        <div class="form-group">
            <label id="yodopovidona120">
                <span>Yodopovidona 120 ml (Jabón quirúrgico):</span>
            </label>
            <input class="form-control" min="0" type="number" name="yodopovidona120">
        </div>
        <div class="form-group">
            <label id="solucionSal">
                <span>Solución salina 250 cc o 500 cc:</span>
            </label>
            <input class="form-control" min="0" type="number" name="solucionSal">
        </div>
        <div class="form-group">
            <label id="termometro">
                <span>Termómetro de mercurio o digital:</span>
            </label>
            <input class="form-control" min="0" type="number" name="termometro">
        </div>
        <div class="form-group">
            <label id="alcohol">
                <span>Alcohol antiséptico 275 ml:</span>
            </label>
            <input class="form-control" min="0" type="number" name="alcohol">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Registrar uso</button>
    </form>


</div>