<%- layout('navBar') %>
<br>
<div class="container">
<!-- Sugeriria aumentar el tamaño del titulo RUC Assistant para que sea mas claro para las personas que ingresen al aplicativo se puede usando un h1 dentro del div o font-size mayor  -->    
        <div class="tittle">RUC Assitant</div>
     
    <p id="fontSizeLarger">El RUC es una herramienta de evaluación de desempeño de las empresas en los ámbitos de Seguridad y salud en el trabajo (SSOA). Es expedido por el Consejo Colombiano de seguridad y busca que se respeten los derechos de los trabajadores a un trabajo digno además de premiarlos en actividades como liderazgo y compromiso social. Para que una empresa adquiera el RUC tiene que tener todo un plan SSOA implementado y mantener al día los formatos de usos de estos. Nuestra idea es diseñar una aplicación que facilite a la empresa el manejo de todas sus actividades de Health, Safety & Environment (HSE)</p>
</div>
<br>
<div>
    <img class="banner d-none d-sm-block" src="img/banner.jpg">
</div>


</div>
</body>
</html>
