<%- layout('navBar') %>

  <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
    <form id="botiquinFormA" action="/botiquin/crear" method="post">
      <div class="form-group">
        <label id="nombre">
          <span>Nombre:</span>
          <input class="form-control" type="text" name="nombre">
        </label>
      </div>
      <div class="form-group">
        <label id="gasas">
          <span>Gasas:</span>
          <input class="form-control" value="20" type="text" name="gasas" readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="esparadrapo4Metros">
          <span>Esparadrapo 4 metros:</span>
          <input class="form-control" value="1" type="text" name="esparadrapo4Metros" readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="bajaLenguas">
          <span>Baja lenguas:</span>
          <input class="form-control" value="20" type="text" name="bajaLenguas"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="guantesLatex">
          <span>Guantes de latex:</span>
          <input class="form-control" value="100" type="text" name="guantesLatex"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="vendaEl2x5">
          <span>Venda elástica 2 x 5:</span>
          <input class="form-control" value="1" type="text" name="vendaEl2x5"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="vendaEl3x5">
          <span>Venda elástica 3 x 5 yardas:</span>
          <input class="form-control" value="1" type="text" name="vendaEl3x5"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="vendaEl5x5">
          <span>Venda elástica 5 x 5 yardas:</span>
          <input class="form-control" value="1" type="text" name="vendaEl5x5"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="vendaAl3x5">
          <span>Venda algodon 3 x 5 yardas:</span>
          <input class="form-control" value="2" type="text" name="vendaAl3x5"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="yodopovidona120">
          <span>Yodopovidona 120 ml (Jabón quirúrgico):</span>
          <input class="form-control" value="1" type="text" name="yodopovidona120"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="solucionSal">
          <span>Solución salina 250 cc o 500 cc:</span>
          <input class="form-control" value="2" type="text" name="solucionSal"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="termometro">
          <span>Termómetro de mercurio o digital:</span>
          <input class="form-control" value="1" type="text" name="termometro"  readonly>
        </label>
      </div>
      <div class="form-group">
        <label id="alcohol">
          <span>Alcohol antiséptico 275 ml:</span>
          <input class="form-control" value="1" type="text" name="alcohol"  readonly>
        </label>
      </div>
      <div class="form-group">
      <button type="submit" class="btn btn-dark">Registrar botiquin</button>
    </div>
    </form>

  </div>
