<%- layout('navBar') %>
<br>
<div class="container">	
	<div class="d-flex justify-content-center h-100">		
		<div class="singCard">			
			<h3>Registrarse</h3>
			<div class="card-body">
				<form method="POST" action="/authentication/signup">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-building"></i></i></span>							
						</div>
						<input type="text" class="form-control" name="nombreEmpresa" placeholder="Nombre empresa" required>						
					</div> 
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input type="email" class="form-control" name="correo" placeholder="Correo" required>						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="contacto" placeholder="Nombre contacto" required>						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Contraseña" onkeyup="check();" required>
					</div>	
						
					<div class="input-group form-group">
						<input type="submit" value="Registro" class="btn btn-success">
					</div>
				</form>
			</div>
			<div class="cardL-header">
				<% if (signupMessage!="") {
					%>
					<div >					
						<div class="red">					  
						  <p class="card-text"><%= signupMessage%></p>
						</div>
					  </div>
					<% } %>				
			</div>
			
			<div>				
					<a<br>¿Ya tienes una cuenta?</a<br>
					<a href="/authentication/signin"> Ingresa</a>				
			</div>
			
		</div>
	</div>
</div>

