/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-color: white;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.red {
    background-color: red;
    color:white;
    opacity: 0.5;
    width: 400px;
    height: 30px;
    text-align: center;
}

.cardLo{
    height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.cardL{
height: 420px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.cardL-header h3{
margin-top: 25px;
margin-left: 15px;
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

#cardL-footer{
    text-align: center;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(19, 79, 189);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: rgb(19, 126, 189);;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}